// this contains the list of all extensions to be associated with sublime text in Windows
csv
txt
dat
db
log
mdb
sav
sql
xml
email
eml
emlx
msg
oft
ost
pst
vcf
asp
aspx
cer
cfm
cgi
css
htm
js
jsp
part
php
py
rss
xhtml
c
cpp
cs
h
java
sh
swift
vb
editorconfig
eslintignore
babelrc
gitignore
prettierrc
json
env
npmignore
nvmrc
md
yml
info
nfo
ts
scss
sass
less
html
php5
// less common file extension
do
ser
ino
s
gcode
aia
rpy
rdf
jsf
atomsvc
o
mrc
pdb
jad
asm
bas
r
lib
m
lxk
rpyc
p
rcc
action
sln
toml
lua
c3p
bat
pod
pyc
abs
sal
luac
asta
vbs
src
asi
pl
mom
scb
pickle
mlx
graphml
xla
fs
faces
ins
html5
nupkg
mf
mst
ips
ws
ss
sasf
arxml
idb
gradle
ejs
dtd
fmb
xsd
mdp
axd
mm
f
liquid
prg
luca
scs
bp
mac
jsc
tcl
install
smali
resources
cls
mwp
gp
cc
spr
ptx
mrl
d
yaml
jdp
ema
e
csb
fas
inc
yyp
perl
bash
pm
mc
wiki
txx
brml
vlx
csproj
derp
dbg
atp
sfx
wbf
fil
ave
pmp
wbt
jav
ckm
dvb
history
beta
jsa
cod
go
run
l
agc
pyo
rpg
coverage
cms
kt
asic
bml
loc
io
vls
mq4
dsd
pf3
resx
bal
pas
pyt
x
stm
cmake
ipr
eld
rc
isa
mzp
cpb
gbl
rbf
geojson
sax
nvi
eaf
prl
matlab
mhl
lsp
mvba
sct
xsl
hbs
xlm
csc
vbe
xaml
ebc
sm
hs
arb
nt
v4e
bdt
inp
lap
ml
dwarf
re
ipb
classpath
form
psm1
lmp
plx
script
aps
scr
login
ptl
gs
gv
pdml
rfs
mfa
cxx
groovy
lis
vba
mrd
jsx
scpt
ps1
ahk
jse
sl
command
vcxproj
ppam
lnk
nse
mhm
pjt
xcp
vip
phtml
mo
a5r
mk
vbp
cspkg
dwt
mw
rb
mq5
rbt
dist
ptxml
xslt
dpr
phl
dtx
rpym
pyw
pbl
moc
ats
ti
tra
dbml
csx
hdf
as
dlg
wdl
xcl
trig
lub
au3
cpr
j
f90
diff
mlv
el
lst
seam
proto
lisp
rml
bcp
obj
egg
rule
pag
cbl
dep
lss
wsdl
build
dev
jl
isu
txml
ppa
hc
lol
vd
bb
bbc
datasource
rh
odc
cobol
jsdtscope
gml
cml
bxml
jbi
aidl
cg
gnt
ide
dqy
hxp
tpl
bsc
gcl
dts
lpx
gch
nbk
mkb
twig
uix
dbp
btq
exp
hpf
pdo
qs
thtml
fwx
vbi
hx
shfbproj
pbxproj
dpk
kd
qry
psd1
bgm
cson
vcp
kts
cbp
hkp
lds
ipf
mak
arq
iml
asz
rkt
mg
irb
depend
uvproj
ada
ssi
master
sca
brs
styl
mrs
bmo
srz
pyx
tru
bax
nk
factorypath
zrx
targets
dproj
amw
param
pch
wml
tmh
kv
jade
mec
apb
mel
akt
cob
textile
ror
tpm
coveragexml
axs
vbx
rob
idl
owl
gypi
wsf
kmt
vbscript
dob
sdl
cx
tkp
aiml
clm
abap
dso
vpc
edml
hlsl
bcc
htc
xme
cos
ocb
xui
pli
btproj
pxml
pym
gvy
bms
cpz
din
fountain
rproj
ttl
a2w
cd
scala
dbmdl
svn
mscr
xn
f95
greenfoot
trt
kst
zsc
ps2
cgx
ary
frt
jardesc
uvprojx
gss
asc
cp
tgml
fdt
zpd
rc2
ulp
awd
wpk
vbw
ecore
shit
ksh
ssq
rhtml
xpdl
wsdd
gyp
tk
tcz
vup
cuh
wxs
dpd
cbs
sxs
rej
dhtml
qvs
tik
vjp
gfa
m6m
ash
jsonp
jml
bsv
xbs
xjb
ksc
poc
irobo
xul
dot
rts
viw
fsi
lba
autosave
a
osg
thor
cba
irc
devpak
odl
rws
mfl
dgml
scm
htr
mediawiki
mat
clojure
wfs
bur
zws
wsc
fxml
dfd
php3
4ge
cla
applet
opv
ebx
ph
ipy
dfb
ncb
tea
exe_
pkb
gls
xproj
mod
g1m
clw
bzs
txl
vap
jks
common
jcw
dic
coffee
mx
bpo
d4
opl
dto
wxl
sqlproj
agi
hic
xin
appxmanifest
es6
xpb
hms
ctl
nhs
bet
fxl
lnx
xib
ppml
ogx
vc6
ascx
msha
robo
pou
tdo
stl
gsk
ii
rpo
vim
snippet
ccs
swg
com_
sus
eze
dml
m51
mpx
mls
hoic
rs
bpr
jacl
vpi
fcmacro
msc
geany
kx
mly
cxe
svo
cxs
airi
vbhtml
wpj
sami
autoplay
fsx
rptproj
ghp
mako
nbin
enml
s5d
ump
res
ogr
bxl
wsh
hxx
sbr
xr
kex
jak
p6
makefile
cshrc
rrc
ig
make
vstemplate
ji
ilk
lhs
zero
ppo
fbp
amos
jcl
lnp
vbproj
kodu
sas
qsc
jsfl
rub
ucb
vrp
atmn
xfm
ftn
j3d
oqy
zsh
jtb
lmv
ncx
rbw
v
appxsym
oppo
fgb
mcp
hse
tlh
pnproj
chef
csh
actionscript
rgs
sno
xnf
alan
ipch
smw
classdiagram
cfi
slim
ev3p
vcproj
xda
npi
tur
bbf
okm
hei
pba
ba_
myapp
gek
phs
psc1
cel
plog
cplist
ccproj
jex
rmn
lsh
xtxt
git
psml
gfe
win32manifest
appxupload
afb
cfs
ttcn
asmx
psl
ck
hbm
vddproj
gxl
vbg
gus
was
jgs
4pk
jcs
pb
gobj
sltng
wmw
dba
wpm
ex
bsh
vdp
phps
xlv
tql
lml
zpl
ses
cfo
fasl
jss
wxi
fsproj
atmx
vsmacros
vc15
pl7
fpi
tsq
ob2
vdproj
rnw
xsql
ssc
maki
ox
clj
ogs
zfd
pgm
nes
ebs2
pspscript
dse
m4
v3s
grxml
scz
m2r
tli
bsml
s43
iss
qpf
phpt
tikz
vssscc
ebs
resjson
pmod
pl6
haml
wli
fcg
pbi
php1
mbas
a3c
bs2
hsm
itcl
bhs
vtm
sqo
pri
nlc
rdoc
saas
rbp
sjc
bdh
orl
for
m3
msl
appcache
ew
p5
xig
ttinclude
awk
mb
pql
wbc
frs
mash
hom
xv2
acu
nls
bxp
psu
c__
brx
rpres
jbp
nmk
idle
thml
hxproj
anjuta
fcgi
exw
sbh
bin_
itmx
asax
hrl
hbx
jsb
kix
bte
ywl
ogl
obr
simba
acgi
tzs
maml
pro
entitlements
nas
mss
tcsh
mnd
ekm
hxa
b24
cfml
rxs
goc
pom
hla
pawn
avsi
mcml
ane
exu
~pa
kcl
arnoldc
fuc
aml
f03
chh
rvt
php2
pr7
c86
pf1
cphd
ju
jug
gc3
nsi
s4e
ked
rbx
licx
iap
ik
pkh
glade
syp
qxm
gdg
buildpath
jsh
mqt
gemfile
owx
exsd
aem
kon
bsm
rc3
wdw
astx
fus
qac
mxe
zts
ago
epl
pfx
4gl
wdproj
fmx
rvb
rqy
kit
jcm
ms
ass
tec
vsixmanifest
tla
xblr
wam
xrc
sbml
neko
licenses
19
ajm
dsb
mmb
mfps
mmh
b2d
ebm
daemonscript
jsxinc
hxml
map
cord
image
rake
mln
a8s
dcf
pfa
axb
ahtml
scar
ldz
playground
reb
javajet
graphmlz
11
pjx
ts0
komodo
msh1xml
dcproj
xlm_
udf
po
rqb
lamp
vala
pp1
ezg
a2x
elc
scriptterminology
pwo
rqc
dsym
creole
xojo_binary_project
aah
confluence
cgvp
uih
genmodel
csml
jmk
vgc
a66
mdf
napj
p4a
mmbas
mdex
configure
kbs
xoml
bxb
lpr
a3x
eek
jscript
xqr
dfm
csi
slackbuild
xba
yxx
as3
applescript
wspd
zcode
bufferedimage
xje
cr
php6
deb
dwp
ccbjs
nunit
xbap
ssml
triple
wdk
tsc
generictest
hrh
has
fpc
capfile
mlsxml
hhh
csm
d2j
lbj
cu
litcoffee
zpk
irbrc
xmla
fsb
sb
builder
fbp6
defi
dsp
f77
xcodeproj
dbpro
mrm
s2s
bdsproj
borland
fxh
h6h
bcf
dbproj
dsq
xbl
pl5
pem
plc
dtml
ccp
~df
ecorediag
lasso
ls3proj
kml
dcr
dor
skp
njk
ghc
vce
sdsb
wcm
fwactionb
clp
dsr
xap
ht4
pf0
xpgt
pf4
csp
wax
dht
opx
tiprogram
vps
clips
gsc
avc
uem
tab
iwb
kumac
spx
vxml
tmo
arscript
pm6
cpy
smm
wis
lsxtproj
mvpl
galaxy
shfb
sbs
hay
zbi
poix
con
msil
fzs
usp
swt
zh_tw
rip
cl
qdl
actproj
jgc
aar
rrh
tst
rpj
vsprops
nspj
fdo
module
uit
rsp
mpm
msh2xml
pf2
xql
tplt
judo
psc2
ice
netboot
sjs
dsa
cya
beam
il
sci
aplt
sdi
pgml
actx
tcx
sce
hh
sit
mfcribbon
ps2xml
aks
qlc
sxv
cap
jpx
docstates
oplm
hpp
mtp
pike
kl3
b
fxcproj
vc
snp
nokogiri
policy
apg
vic
phpproj
wzs
xsc
mex
apt
abl
drc
acm
pbp
cnt
synw
is
php4
89x
es
ijs
ix3
a86
dd
pm5
pls
pp
dia
rfx
ipp
w
rexx
lols
ddp
jetinc
xamlx
sts
zs
avs
gld
wod
lbi
sdef
sc
pd
mke
xhtm
usi
py3
dxl
wmls
qlm
dbo
pdl
wmlc
xys
wdi
akp
rbs
mcw
pcd
vc5
simple
sconstruct
frj
hsc
class
t
gst
jpage
gla
nj
lo
8xk
wbs
rsl
mi
sxt
dms
msvc
msh2
vfproj
lrf
mmch
h2o
lp
pf
ocr
rpp
aro
pc
cas
kpl
rakefile
cljs
sml
mcr
mbs
chd
h__
dmc
ctp
rprofile
msh1
ifp
alg
psf
lng
jpd
hbz
ow
spt
fscr
armx
i
bps
aep
yml2
pl1
dt
act
cola
scp
tld
cxl
sma
vss
magik
snapx
catscript
wmlsc
ls1
hcw
z
pxd
nnb
slt
app
scptd
npl
mmjs
an
cal
art
tpr
texinfo
hydra
sfl
exv
dmb
ebuild
tilemap
fgl
4th
lrs
jsm
text
f40
dg
msdl
pika
ccxml
tmf
a51
qx
jlc
cr2
androidproj
m4x
owd
wscript
fsf
osas
sym
zcls
wsd
asproj
axe
mingw32
mpd
mbtemmplate
gsb
mingw
svc
dro
odh
asbx
ff
forth
rpprj
nxc
pds
csdproj
fbz6
rtml
ags
pde
fmt
asr
cb
sf
rsm
sqldataprovider
mab
ptb
pbq
dws
vpl
vdt
vc7
ad2
smx
