// this contains the list of all extensions to be associated with sublime text in Windows
// plain text and data
txt
text
csv
log
dat
nfo
info
dic

// markdown and docs
md
rst
rdoc
textile
creole
mediawiki

// config files
json
jsonp
geojson
resjson
xml
yml
yaml
toml
ini
cfg
conf
env
editorconfig
eslintignore
babelrc
gitignore
prettierrc
npmignore
nvmrc
htaccess
properties

// web
html
htm
xhtml
css
js
jsx
ts
tsx
mjs
cjs
es6
scss
sass
less
styl
php
php3
php4
php5
asp
aspx
jsp
ejs
hbs
twig
liquid
jade
slim
pug
haml
njk
mustache
vue
svelte

// programming languages
c
h
cpp
cxx
cc
hpp
hxx
hh
cs
java
py
py3
pyw
pyx
go
rs
rb
rbw
swift
kt
kts
scala
r
lua
pl
pm
perl
sh
bash
zsh
ksh
csh
fish
ps1
psm1
psd1
vb
vbs
clj
cljs
ex
exs
hs
lhs
ml
fs
fsx
dart
groovy
gvy
asm
s
lisp
cl
el
scm
rkt
pas
d
nim
zig
v
ada
cob
cobol
fortran
f
f90
f95
f03
julia
jl
awk
tcl
pike
coffee
litcoffee

// shell and scripting
makefile
make
cmake
dockerfile
vagrantfile
gemfile
rakefile
guardfile

// data and query
sql
graphql
proto
protobuf

// markup and templates
xsl
xslt
xsd
dtd
wsdl
rss
svg
xaml
plist

// config and project files
gradle
sln
csproj
vbproj
fsproj
vcxproj
iml
pom
sbt

// version control
diff
patch
rej

// certificate and key (text-based)
pem
cer
crt
pub
asc

// other common text
po
pot
srt
sub
ass
ssa
lrc
