// this contains the list of all extensions to be associated with VLC in Windows
// video
264
3gp
3g2
avi
divx
f4v
flv
h264
h265
hevc
m2t
m2ts
m4v
mkv
mov
mp4
mpg
mpeg
mts
ogv
rmvb
ts
vob
webm
wmv
asf

// audio
3ga
aac
ac3
aif
aiff
alac
amr
ape
au
cda
dts
flac
m4a
m4b
m4p
mid
midi
mka
mp2
mp3
oga
ogg
opus
ra
snd
spx
wav
wma
wv

// playlist
m3u
m3u8
pls
xspf
asx
wpl

// disc
ifo
bup
vro

// other media
dash
dvr
rec
