// ---- Software Licensing / Phone-Home ----
// Adobe
lmlicenses.wip4.adobe.com
lm.licenses.adobe.com
na1r.services.adobe.com
hlrcv.stage.adobe.com
practivate.adobe.com
activate.adobe.com

// DaVinci Resolve / Blackmagic
swr.cloud.blackmagicdesign.com
cloud.blackmagicdesign.com

// Greenshot
getgreenshot.org

// CCleaner / Piriform
license.piriform.com
ccleaner.com

// Sublime Text
license.sublimehq.com
45.55.255.55
45.55.41.223

// Apple MDM / Remote Provisioning
deviceenrollment.apple.com
//gdmf.apple.com
iprofiles.apple.com
mdmenrollment.apple.com


// ---- Google Ads & Analytics ----
google-analytics.com
googleadservices.com
googlesyndication.com
googletagservices.com
googletagmanager.com
pagead2.googlesyndication.com
partner.googleadservices.com
tpc.googlesyndication.com
video-ad-stats.googlesyndication.com
s0.2mdn.net
2mdn.net
adservice.google.com
pagead2.googlesyndication.com
redirector.gvt1.com


// ---- Facebook / Meta Tracking ----
pixel.facebook.com
an.facebook.com
ad.facebook.com
ads.facebook.com
pixel.instagram.com


// ---- Amazon Ads & Tracking ----
aax.amazon-adsystem.com
ad.amazon.com
device-metrics-us.amazon.com
device-metrics-us-2.amazon.com
fls-na.amazon.com


// ---- Microsoft / Bing Tracking ----
bat.bing.com
c.bing.com
c.msn.com
ads.msn.com
a-0001.a-msedge.net
choice.microsoft.com
ssw.live.com
watson.microsoft.com
watson.telemetry.microsoft.com
settings-win.data.microsoft.com
vortex.data.microsoft.com


// ---- Twitter / X Tracking ----
ads-api.twitter.com
ads.twitter.com
analytics.twitter.com
t.co


// ---- TikTok Tracking ----
analytics.tiktok.com
ads.tiktok.com
log.tiktokv.com
mon.tiktokv.com


// ---- Spotify Tracking ----
adeventtracker.spotify.com
ads-fa.spotify.com
analytics.spotify.com
audio2.spotify.com
crashdump.spotify.com
log.spotify.com
weblb-wg.gslb.spotify.com


// ---- Major Ad Networks ----
207.net
247realmedia.com
2o7.net
33across.com
abmr.net
acoda.net
adblade.com
adbrite.com
adbureau.net
adchemy.com
adclick.g.doublecklick.net
addthis.com
addthisedge.com
admeld.com
admob.com
adnxs.com
adsense.com
adsonar.com
adthis.com
advertising.com
afy11.net
aquantive.com
atdmt.com
atwola.com
bounceexchange.com
casalemedia.com
criteo.com
criteo.net
demdex.net
dotomi.com
doublepimp.com
doubleverify.com
fimserve.com
flingwebads.com
foxnetworks.com
gravity.com
hitbox.com
imiclk.com
invitemedia.com
leadback.com
lindwd.net
media-match.com
mookie1.com
myads.com
netconversions.com
nexac.com
nextaction.net
offermatica.com
openx.net
outbrain.com
pm14.com
pubmatic.com
realmedia.com
revjet.com
rightmedia.com
rmxads.com
ru4.com
rubiconproject.com
samsungadhub.com
sharethis.com
shopthetv.com
smartadserver.com
taboola.com
targetingmarketplace.com
teads.tv
themig.com
trendnetcloud.com
tribalfusion.com
yieldmanager.com
yieldmanager.net
yldmgrimg.net
youknowbest.com
yumenetworks.com


// ---- Analytics & Tracking Services ----
b.scorecardresearch.com
bs.serving-sys.com
channelintelligence.com
cmcore.com
core.insightexpressai.com
coremetrics.com
crowdscience.com
ds.serving-sys.com
esomniture.com
gtssl2-ocsp.geotrust.com
hotjar.com
imrworldwide.com
insightexpress.com
insightexpressai.com
intellitxt.com
js.moatads.com
mixpanel.com
nielsen-online.com
omniture.com
omtrdc.net
quantcast.com
quantserve.com
revsci.net
scorecardresearch.com
segment.io
segment.com


// ---- Content / Video Ad Networks ----
content.bitsontherun.com
d2gi7ultltnc2u.cloudfront.net
d3rt1990lpmkn.cloudfront.net
decdna.net
decideinteractive.com
v.jwpcdn.com


// ---- Suspicious / Phishing / Malware ----
tj.ke.com
api.movcloud.net
bj.ke.com
midoweb.offerstrack.net
gmial.com
seyrade.com
hrb.ke.com
omaze.com


// ---- Fingerprinting & Consent Popups ----
cdn.cookielaw.org
cdn.onetrust.com
fingerprint2.js
fp-cdn.azureedge.net
