// Adobe
lmlicenses.wip4.adobe.com
lm.licenses.adobe.com
na1r.services.adobe.com
hlrcv.stage.adobe.com
practivate.adobe.com
activate.adobe.com

// CCleaner
license.piriform.com
ccleaner.com

// Sublime
license.sublimehq.com
45.55.255.55
45.55.41.223

// Apple profiles / remote provisioning
deviceenrollment.apple.com
//gdmf.apple.com
iprofiles.apple.com
mdmenrollment.apple.com

// ad hosts to blocked
// https://www.reddit.com/r/privacy/comments/3tz3ph/blocking_most_advertising_servers_via_factory/
207.net
247realmedia.com
2mdn.net
2o7.net
33across.com
abmr.net
acoda.net
adblade.com
adbrite.com
adbureau.net
adchemy.com
adclick.g.doublecklick.net
addthis.com
addthisedge.com
adeventtracker.spotify.com
admeld.com
admob.com
ads-fa.spotify.com
adsense.com
adsonar.com
adthis.com
advertising.com
afy11.net
analytics.spotify.com
aquantive.com
atdmt.com
atwola.com
audio2.spotify.com
b.scorecardresearch.com
bounceexchange.com
bs.serving-sys.com
channelintelligence.com
cmcore.com
content.bitsontherun.com
core.insightexpressai.com
coremetrics.com
crashdump.spotify.com
crowdscience.com
d2gi7ultltnc2u.cloudfront.net
d3rt1990lpmkn.cloudfront.net
decdna.net
decideinteractive.com
doubleclick.com
doubleclick.net
ds.serving-sys.com
esomniture.com
fimserve.com
flingwebads.com
foxnetworks.com
google-analytics.com
googleads.g.doubleclick.net
googleadservices.com
googlesyndication.com
googletagservices.com
gravity.com
gtssl2-ocsp.geotrust.com
hitbox.com
imiclk.com
imrworldwide.com
insightexpress.com
insightexpressai.com
intellitxt.com
invitemedia.com
js.moatads.com
leadback.com
lindwd.net
log.spotify.com
media-match.com
mookie1.com
myads.com
netconversions.com
nexac.com
nextaction.net
nielsen-online.com
offermatica.com
omaze.com
omniture.com
omtrdc.net
pagead2.googlesyndication.com
pagead46.l.doubleclick.net
partner.googleadservices.com
pm14.com
pubads.g.doubleclick.net
quantcast.com
quantserve.com
realmedia.com
redirector.gvt1.com
revsci.net
rightmedia.com
rmxads.com
ru4.com
rubiconproject.com
s0.2mdn.net
samsungadhub.com
scorecardresearch.com
securepubads.g.doubleclick.net
sharethis.com
shopthetv.com
targetingmarketplace.com
themig.com
tpc.googlesyndication.com
trendnetcloud.com
v.jwpcdn.com
video-ad-stats.googlesyndication.com
weblb-wg.gslb.spotify.com
yieldmanager.com
yieldmanager.net
yldmgrimg.net
youknowbest.com
yumenetworks.com

// Blocked hosts from TP Link Trend Micro
// copy([...$$('.info-detail')].map(s => s.innerText).join('\n'))
tj.ke.com
api.movcloud.net
bj.ke.com
midoweb.offerstrack.net
gmial.com
seyrade.com
hrb.ke.com
