// ---- Software Licensing / Phone-Home ----
// Adobe
lmlicenses.wip4.adobe.com
lm.licenses.adobe.com
na1r.services.adobe.com
hlrcv.stage.adobe.com
practivate.adobe.com
activate.adobe.com

// DaVinci Resolve / Blackmagic
swr.cloud.blackmagicdesign.com
cloud.blackmagicdesign.com

// Greenshot
getgreenshot.org

// CCleaner / Piriform
license.piriform.com
ccleaner.com

// Sublime Text
license.sublimehq.com
45.55.255.55
45.55.41.223

// Apple MDM / Remote Provisioning
deviceenrollment.apple.com
//gdmf.apple.com
iprofiles.apple.com
mdmenrollment.apple.com


// ---- Google Ads & Analytics ----
google-analytics.com
googleadservices.com
googlesyndication.com
googletagservices.com
googletagmanager.com
pagead2.googlesyndication.com
partner.googleadservices.com
tpc.googlesyndication.com
video-ad-stats.googlesyndication.com
s0.2mdn.net
2mdn.net
adservice.google.com
pagead2.googlesyndication.com
redirector.gvt1.com


// ---- Facebook / Meta Tracking ----
pixel.facebook.com
an.facebook.com
ad.facebook.com
ads.facebook.com
pixel.instagram.com


// ---- Amazon Ads & Tracking ----
aax.amazon-adsystem.com
ad.amazon.com
device-metrics-us.amazon.com
device-metrics-us-2.amazon.com
fls-na.amazon.com


// ---- Microsoft / Bing Tracking ----
bat.bing.com
c.bing.com
c.msn.com
ads.msn.com
a-0001.a-msedge.net
choice.microsoft.com
ssw.live.com
watson.microsoft.com
watson.telemetry.microsoft.com
settings-win.data.microsoft.com
vortex.data.microsoft.com


// ---- Twitter / X Tracking ----
ads-api.twitter.com
ads.twitter.com
analytics.twitter.com
t.co


// ---- TikTok Tracking ----
analytics.tiktok.com
ads.tiktok.com
log.tiktokv.com
mon.tiktokv.com


// ---- Spotify Tracking ----
adeventtracker.spotify.com
ads-fa.spotify.com
analytics.spotify.com
audio2.spotify.com
crashdump.spotify.com
log.spotify.com
weblb-wg.gslb.spotify.com


// ---- Major Ad Networks ----
207.net
247realmedia.com
2o7.net
33across.com
abmr.net
acoda.net
adblade.com
adbrite.com
adbureau.net
adchemy.com
adclick.g.doublecklick.net
addthis.com
addthisedge.com
admeld.com
admob.com
adnxs.com
adsense.com
adsonar.com
adthis.com
advertising.com
afy11.net
aquantive.com
atdmt.com
atwola.com
bounceexchange.com
casalemedia.com
criteo.com
criteo.net
demdex.net
dotomi.com
doublepimp.com
doubleverify.com
fimserve.com
flingwebads.com
foxnetworks.com
gravity.com
hitbox.com
imiclk.com
invitemedia.com
leadback.com
lindwd.net
media-match.com
mookie1.com
myads.com
netconversions.com
nexac.com
nextaction.net
offermatica.com
openx.net
outbrain.com
pm14.com
pubmatic.com
realmedia.com
revjet.com
rightmedia.com
rmxads.com
ru4.com
rubiconproject.com
samsungadhub.com
sharethis.com
shopthetv.com
smartadserver.com
taboola.com
targetingmarketplace.com
teads.tv
themig.com
trendnetcloud.com
tribalfusion.com
yieldmanager.com
yieldmanager.net
yldmgrimg.net
youknowbest.com
yumenetworks.com


// ---- Analytics & Tracking Services ----
b.scorecardresearch.com
bs.serving-sys.com
channelintelligence.com
cmcore.com
core.insightexpressai.com
coremetrics.com
crowdscience.com
ds.serving-sys.com
esomniture.com
gtssl2-ocsp.geotrust.com
hotjar.com
imrworldwide.com
insightexpress.com
insightexpressai.com
intellitxt.com
js.moatads.com
mixpanel.com
nielsen-online.com
omniture.com
omtrdc.net
quantcast.com
quantserve.com
revsci.net
scorecardresearch.com
segment.io
segment.com


// ---- Content / Video Ad Networks ----
content.bitsontherun.com
d2gi7ultltnc2u.cloudfront.net
d3rt1990lpmkn.cloudfront.net
decdna.net
decideinteractive.com
v.jwpcdn.com


// ---- Suspicious / Phishing / Malware ----
tj.ke.com
api.movcloud.net
bj.ke.com
midoweb.offerstrack.net
gmial.com
seyrade.com
hrb.ke.com
omaze.com


// ---- Fingerprinting & Consent Popups ----
cdn.cookielaw.org
cdn.onetrust.com
fingerprint2.js
fp-cdn.azureedge.net


// ---- NVIDIA Telemetry ----
telemetry.nvidia.com
gfe.nvidia.com
gfswl.geforce.com
ota.nvidia.com
ota-downloads.nvidia.com
rds-assets.nvidia.com
events.gfe.nvidia.com
accounts.nvgs.nvidia.com
nvgs.nvidia.com
images.nvidia.com
ls.dtrace.nvidia.com


// ---- Adobe Telemetry (beyond license) ----
cc-api-data.adobe.io
cc-api-data-stage.adobe.io
notify.adobe.com
prod.adobegenuine.com
gocart.adobe.com
geo2.adobe.com
hlrc.adobe.com
lcs-cops.adobe.io
lcs-robs.adobe.io
ims-prod06.adobelogin.com
bam.nr-data.net


// ---- Microsoft Telemetry (extended) ----
df.telemetry.microsoft.com
oca.telemetry.microsoft.com
oca.telemetry.microsoft.com.nsatc.net
sqm.df.telemetry.microsoft.com
sqm.telemetry.microsoft.com
sqm.telemetry.microsoft.com.nsatc.net
watson.telemetry.microsoft.com.nsatc.net
watson.ppe.telemetry.microsoft.com
watson.live.com
wes.df.telemetry.microsoft.com
reports.wes.df.telemetry.microsoft.com
services.wes.df.telemetry.microsoft.com
telecommand.telemetry.microsoft.com
telecommand.telemetry.microsoft.com.nsatc.net
telemetry.appex.bing.net
telemetry.urs.microsoft.com
vortex-sandbox.data.microsoft.com
vortex-win.data.microsoft.com
vortex-bn2.metron.live.com.nsatc.net
vortex-cy2.metron.live.com.nsatc.net
cy2.vortex.data.microsoft.com.akadns.net
onesettings-db5.metron.live.nsatc.net
settings-sandbox.data.microsoft.com
diagnostics.support.microsoft.com
survey.watson.microsoft.com
feedback.microsoft-hohm.com
feedback.search.microsoft.com
feedback.windows.com
statsfe1.ws.microsoft.com
statsfe2.ws.microsoft.com
statsfe2.update.microsoft.com.akadns.net
corpext.msitadfs.glbdns2.microsoft.com
corp.sts.microsoft.com
compatexchange.cloudapp.net
choice.microsoft.com.nsatc.net
redir.metaservices.microsoft.com
schemas.microsoft.akadns.net
fe2.update.microsoft.com.akadns.net
sls.update.microsoft.com.akadns.net
win10.ipv6.microsoft.com
i1.services.social.microsoft.com
i1.services.social.microsoft.com.nsatc.net
lb1.www.ms.akadns.net
m.hotmail.com
insiderservice.microsoft.com
insiderservice.trafficmanager.net
insiderppe.cloudapp.net
flightingserviceweurope.cloudapp.net
livetileedge.dsx.mp.microsoft.com
wdcpalt.microsoft.com
client.wns.windows.com
officecdn.microsoft.com
officecdn.microsoft.com.edgesuite.net
config.office.com
odc.officeapps.live.com


// ---- Microsoft Edge / MSN / Bing (extended) ----
a-0002.a-msedge.net
a-0003.a-msedge.net
a-0004.a-msedge.net
a-0005.a-msedge.net
a-0006.a-msedge.net
a-0007.a-msedge.net
a-0008.a-msedge.net
a-0009.a-msedge.net
a-msedge.net
msedge.net
any.edge.bing.com
ac3.msn.com
flex.msn.com
g.msn.com
h1.msn.com
h2.msn.com
live.rads.msn.com
preview.msn.com
rad.msn.com
a.rad.msn.com
b.rad.msn.com
rad.live.com
msnbot-65-55-108-23.search.msn.com
msntest.serving-sys.com
pre.footprintpredict.com
bingads.microsoft.com
settings-ssl.xboxlive.com
settings-ssl.xboxlive.com-c.edgekey.net
settings-ssl.xboxlive.com-c.edgekey.net.globalredir.akadns.net


// ---- Facebook / Meta Tracking (extended) ----
connect.facebook.net
graph.facebook.com
staticxx.facebook.com
pixel.wp.com
beacon.linkedin.com
snap.licdn.com
pixel.instagram.com


// ---- Samsung / Xiaomi Telemetry ----
samsungads.com
config.samsungads.com
smetrics.samsung.com
nmetrics.samsung.com
samsung-com.112.2o7.net
analytics.samsungknox.com
tracking.miui.com
data.mistat.xiaomi.com
sdkconfig.ad.xiaomi.com
globalapi.ad.xiaomi.com
t.ad.xiaomi.com


// ---- Windows Spotlight / Content Delivery ----
arc.msn.com
ris.api.iris.microsoft.com
mucp.api.account.microsoft.com
cdn.content.prod.cms.msn.com
api.msn.com
assets.msn.com
ntp.msn.com
srtb.msn.com
fd.api.iris.microsoft.com
query.prod.cms.rt.microsoft.com


// ---- Copilot / Windows AI ----
copilot.microsoft.com
sydney.bing.com
edgeservices.bing.com
r.bing.com
business.bing.com


// ---- Error Reporting / Bug Tracking ----
api.bugsnag.com
app.bugsnag.com
notify.bugsnag.com
sessions.bugsnag.com
app.getsentry.com
browser.sentry-cdn.com


// ---- Akamai CDN (Telemetry-Related) ----
184-86-53-99.deploy.static.akamaitechnologies.com
a1621.g.akamai.net
a1856.g2.akamai.net
a1961.g.akamai.net
a978.i6g1.akamai.net
az361816.vo.msecnd.net
az512334.vo.msecnd.net
cds26.ams9.msecn.net
cs1.wpc.v0cdn.net
e2835.dspb.akamaiedge.net
e7341.g.akamaiedge.net
e7502.ce.akamaiedge.net
e8218.ce.akamaiedge.net
e87.dspb.akamaidege.net
e3843.g.akamaiedge.net
e9483.a.akamaiedge.net


// ---- Skype ----
apps.skype.com
pricelist.skype.com
s.gateway.messenger.live.com
ui.skype.com


// ---- TikTok Tracking (extended) ----
log.tiktokv.com
mon.tiktokv.com
