===== ROUTERS  =====
192.168.1.1: sy-router-main | NO_SSH

===== PRINTERS =====
192.168.1.11: sy-printer, sy-printer-dell, sy-printer-dell-e525w | NO_SSH

===== MACHINES =====
192.168.1.23: sy-mp, sy-macpro, sy-macpro-desktop | OSX_REMOTE
192.168.1.24: sy-g14, sy-asus-g14 | WINDOWS_REMOTE
192.168.1.25: sy-g15, sy-asus-g15 | WINDOWS_REMOTE
192.168.1.26: sy-dell-xps, sy-dell-xps-15 | WINDOWS_REMOTE
192.168.1.27: sy-mbp14, sy-mbp14-m1 | OSX_REMOTE
192.168.1.28: sy-aero16 | WINDOWS_REMOTE

===== TV's =====

