===== ROUTERS  =====
192.168.1.1: sy-router-main | NO_SSH
192.168.1.2: sy-router-ap-garage | NO_SSH
192.168.1.2: sy-router-ap-master-bedroom | NO_SSH

===== PRINTERS =====
192.168.1.11: sy-printer, sy-printer-dell, sy-printer-dell-e525w | NO_SSH

===== MACHINES =====
192.168.1.22: sy-mp, sy-macpro | OSX_REMOTE
192.168.1.23: sy-mbp16, sy-mbp16-intel, sy-macbookpro-16, , sy-macbookpro-16-intel | OSX_REMOTE
192.168.1.24: sy-g14, sy-asus-g14 | WINDOWS_REMOTE
192.168.1.25: sy-g15, sy-asus-g15 | WINDOWS_REMOTE
192.168.1.26: sy-alienware, sy-alienware-15 | WINDOWS_REMOTE
192.168.1.27: sy-yoga6, sy-lenovo-yoga6 | WINDOWS_REMOTE


===== TV's =====
192.168.1.231: sy-living-room-tv | NO_SSH
192.168.1.232: sy-garage-room-tv | NO_SSH
