===== ROUTERS  =====
192.168.1.1: sy-router-main
192.168.1.2: sy-router-secondary

===== PRINTERS =====
192.168.1.11: sy-printer, sy-printer-dell, sy-printer-dell-e525w

===== MACHINES =====
192.168.1.22: sy-mp, sy-macpro
192.168.1.23: sy-mbp, sy-macbookpro-16
192.168.1.24: sy-g14, sy-asus-g14
192.168.1.25: sy-g15, sy-asus-g15
192.168.1.26: sy-alienware, sy-alienware-15


===== TV's =====
192.168.1.231: sy-living-room-tv
192.168.1.232: sy-garage-room-tv
