{
    "alt+shift+p": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.showCommands"
        },
        "subl": {
            "command": "show_overlay",
            "args": {
                "overlay": "command_palette"
            }
        }
    },
    "alt+p": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.quickOpen"
        },
        "subl": {
            "command": "show_overlay",
            "args": {
                "overlay": "goto",
                "show_files": true
            }
        }
    },
    "alt+right": {
        "mode": "windows",
        "vs": {
            "command": "cursorEnd",
            "when": "textInputFocus"
        },
        "subl": {
            "command": "move_to",
            "args": {
                "to": "eol",
                "extend": false
            }
        }
    },
    "alt+left": {
        "mode": "windows",
        "vs": {
            "command": "cursorHome",
            "when": "textInputFocus"
        },
        "subl": {
            "command": "move_to",
            "args": {
                "to": "bol",
                "extend": false
            }
        }
    },
    "alt+f": {
        "mode": "windows",
        "vs": {
            "command": "actions.find"
        },
        "subl": {
            "command": "show_panel",
            "args": {
                "panel": "find",
                "reverse": false
            }
        }
    },
    "alt+shift+f": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.findInFiles"
        },
        "subl": {
            "command": "show_panel",
            "args": {
                "panel": "find_in_files"
            }
        }
    },
    "alt+shift+h": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.replaceInFiles"
        }
    },
    "alt+a": {
        "mode": "windows",
        "vs": {
            "command": "list.selectAll",
            "when": "listFocus && listSupportsMultiselect && !inputFocus"
        },
        "subl": {
            "command": "select_all"
        }
    },
    "alt+c": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.clipboardCopyAction"
        },
        "subl": {
            "command": "copy"
        }
    },
    "alt+x": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.clipboardCutAction"
        },
        "subl": {
            "command": "cut"
        }
    },
    "alt+v": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.clipboardPasteAction"
        },
        "subl": {
            "command": "paste"
        }
    },
    "alt+s": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.files.save"
        },
        "subl": {
            "command": "save"
        }
    },
    "alt+l": {
        "mode": "windows",
        "vs": {
            "command": "expandLineSelection"
        }
    },
    "alt+shift+s": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.files.saveAll"
        },
        "subl": {
            "command": "prompt_save_as"
        }
    },
    "alt+z": {
        "mode": "windows",
        "vs": {
            "command": "undo",
            "when": "textInputFocus && !editorReadonly"
        },
        "subl": {
            "command": "undo"
        }
    },
    "alt+shift+z": {
        "mode": "windows",
        "vs": {
            "command": "redo",
            "when": "textInputFocus && !editorReadonly"
        }
    },
    "alt+ctrl+c": {
        "mode": "windows",
        "vs": {
            "command": "workbench.files.action.compareWithSaved"
        }
    },
    "alt+shift+]": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.nextEditor"
        }
    },
    "alt+shift+[": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.previousEditor"
        }
    },
    "alt+w": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.closeActiveEditor"
        },
        "subl": {
            "command": "close"
        }
    },
    "alt+d": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.addSelectionToNextFindMatch",
            "when": "editorFocus"
        },
        "subl": {
            "command": "find_under_expand"
        }
    },
    "alt+shift+d": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.splitEditorDown"
        }
    },
    "alt+down": {
        "mode": "windows",
        "vs": {
            "command": "cursorPageDown",
            "when": "textInputFocus"
        },
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": true
            }
        }
    },
    "alt+up": {
        "mode": "windows",
        "vs": {
            "command": "cursorPageUp",
            "when": "textInputFocus"
        },
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": false
            }
        }
    },
    "alt+shift+up": {
        "mode": "windows",
        "vs": {
            "command": "cursorPageUpSelect",
            "when": "textInputFocus"
        }
    },
    "alt+shift+down": {
        "mode": "windows",
        "vs": {
            "command": "cursorPageDownSelect",
            "when": "textInputFocus"
        }
    },
    "alt+shift+left": {
        "mode": "windows",
        "vs": {
            "command": "cursorHomeSelect",
            "when": "textInputFocus"
        }
    },
    "alt+shift+right": {
        "mode": "windows",
        "vs": {
            "command": "cursorEndSelect",
            "when": "textInputFocus",
            "args": {
                "sticky": false
            }
        }
    },
    "alt+ctrl+left": {
        "mode": "windows",
        "vs": {
            "command": "cursorTop",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+up": {
        "mode": "windows",
        "vs": {
            "command": "cursorTop",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+shift+up": {
        "mode": "windows",
        "vs": {
            "command": "cursorTopSelect",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+right": {
        "mode": "windows",
        "vs": {
            "command": "cursorBottom",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+down": {
        "mode": "windows",
        "vs": {
            "command": "cursorBottom",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+shift+down": {
        "mode": "windows",
        "vs": {
            "command": "cursorBottomSelect",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+shift+left": {
        "mode": "windows",
        "vs": {
            "command": "cursorTopSelect",
            "when": "textInputFocus"
        }
    },
    "alt+ctrl+shift+right": {
        "mode": "windows",
        "vs": {
            "command": "cursorBottomSelect",
            "when": "textInputFocus"
        }
    },
    "alt+n": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.files.newUntitledFile"
        },
        "subl": {
            "command": "new_file"
        }
    },
    "alt+shift+n": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.newWindow"
        },
        "subl": {
            "command": "new_window"
        }
    },
    "alt+/": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.commentLine",
            "when": "editorTextFocus && !editorReadonly"
        },
        "subl": {
            "command": "toggle_comment",
            "args": {
                "block": false
            }
        }
    },
    "alt+[": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.outdentLines",
            "when": "editorTextFocus && !editorReadonly"
        }
    },
    "alt+]": {
        "mode": "windows",
        "vs": {
            "command": "editor.action.indentLines",
            "when": "editorTextFocus && !editorReadonly"
        }
    },
    "alt+=": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.zoomIn"
        },
        "subl": {
            "command": "increase_font_size"
        }
    },
    "alt+-": {
        "mode": "windows",
        "vs": {
            "command": "workbench.action.zoomOut"
        },
        "subl": {
            "command": "decrease_font_size"
        }
    },
    "alt+r": {
        "mode": "windows",
        "subl": {
            "command": "show_overlay",
            "args": {
                "overlay": "goto",
                "text": "@"
            }
        }
    },
    "alt+ctrl+p": {
        "mode": "windows",
        "subl": {
            "command": "prompt_select_workspace"
        }
    },
    "ctrl+shift+g": {
        "mode": "windows",
        "subl": {
            "command": "find_prev"
        }
    },
    "ctrl+up": {
        "mode": "windows",
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": false
            }
        }
    },
    "ctrl+down": {
        "mode": "windows",
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": true
            }
        }
    },
    "alt+shift+l": {
        "mode": "windows",
        "subl": {
            "command": "split_selection_into_lines"
        }
    },
    "ctrl+shift+[": {
        "mode": "windows",
        "subl": {
            "command": "prev_view"
        }
    },
    "ctrl+shift+]": {
        "mode": "windows",
        "subl": {
            "command": "next_view"
        }
    },
    "alt+ctrl+g": {
        "mode": "windows",
        "subl": {
            "command": "find_all_under"
        }
    },
    "ctrl+shift+l": {
        "mode": "windows",
        "subl": {
            "command": "split_selection_into_lines"
        }
    },
    "alt+1": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 0
            }
        }
    },
    "alt+2": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 1
            }
        }
    },
    "alt+3": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 2
            }
        }
    },
    "alt+4": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 3
            }
        }
    },
    "alt+5": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 4
            }
        }
    },
    "alt+6": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 5
            }
        }
    },
    "alt+7": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 6
            }
        }
    },
    "alt+8": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 7
            }
        }
    },
    "alt+9": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 8
            }
        }
    },
    "alt+0": {
        "mode": "windows",
        "subl": {
            "command": "select_by_index",
            "args": {
                "index": 9
            }
        }
    },
    "alt+shift+a": {
        "mode": "windows",
        "subl": {
            "command": "alignment"
        }
    },
    "alt+backspace": {
        "mode": "windows",
        "subl": {
            "command": "left_delete"
        }
    },
    "alt+keypad_plus": {
        "mode": "windows",
        "subl": {
            "command": "increase_font_size"
        }
    },
    "alt+keypad_minus": {
        "mode": "windows",
        "subl": {
            "command": "decrease_font_size"
        }
    },
    "alt+y": {
        "mode": "windows",
        "subl": {
            "command": "redo_or_repeat"
        }
    },
    "shift+alt+left": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "bol",
                "extend": true
            }
        }
    },
    "shift+alt+right": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "eol",
                "extend": true
            }
        }
    },
    "ctrl+alt+left": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "bof",
                "extend": false
            }
        }
    },
    "ctrl+alt+right": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "eof",
                "extend": false
            }
        }
    },
    "ctrl+alt+up": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "bof",
                "extend": false
            }
        }
    },
    "ctrl+alt+down": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "eof",
                "extend": false
            }
        }
    },
    "ctrl+alt+shift+up": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "bof",
                "extend": true
            }
        }
    },
    "ctrl+alt+shift+down": {
        "mode": "windows",
        "subl": {
            "command": "move_to",
            "args": {
                "to": "eof",
                "extend": true
            }
        }
    },
    "shift+alt+up": {
        "mode": "windows",
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": false,
                "extend": true
            }
        }
    },
    "shift+alt+down": {
        "mode": "windows",
        "subl": {
            "command": "move",
            "args": {
                "by": "pages",
                "forward": true,
                "extend": true
            }
        }
    }
}
