{
    "f5": {
        "mode": "common",
        "vs": {
            "command": "workbench.files.action.refreshFilesExplorer"
        },
        "subl": {
            "command": "refresh_folder_list"
        }
    },
    "OS_KEY+\\": {
        "mode": "common",
        "vs": {
            "command": "workbench.action.toggleSidebarVisibility"
        },
        "subl": {
            "command": "toggle_side_bar"
        }
    },
    "OS_KEY+;": {
        "mode": "common",
        "vs": {
            "command": "workbench.action.gotoLine"
        },
        "subl": {
            "command": "show_overlay",
            "args": {
                "overlay": "goto",
                "text": ":"
            }
        }
    },
    "OS_KEY+'": {
        "mode": "common",
        "vs": {
            "command": "workbench.action.gotoSymbol"
        },
        "subl": {
            "command": "show_overlay",
            "args": {
                "overlay": "goto",
                "text": "@"
            }
        }
    },
    "OS_KEY+shift+l": {
        "mode": "common",
        "vs": {
            "command": "editor.action.insertCursorAtEndOfEachLineSelected",
            "when": "editorTextFocus"
        }
    },
    "OS_KEY+shift+\\": {
        "mode": "common",
        "vs": {
            "command": "workbench.view.explorer"
        }
    },
    "OS_KEY+shift+'": {
        "mode": "common",
        "vs": {
            "command": "workbench.action.showAllSymbols"
        }
    },
    "OS_KEY+ctrl+g": {
        "mode": "common",
        "vs": {
            "command": "editor.action.selectHighlights"
        }
    },
    "OS_KEY+ctrl+p": {
        "mode": "common",
        "vs": {
            "command": "projectManager.listProjects"
        }
    },
    "OS_KEY+ctrl+c": {
        "mode": "common",
        "vs": {
            "command": "workbench.files.action.compareWithSaved"
        }
    },
    "OS_KEY+shift+enter": {
        "mode": "common",
        "subl": {
            "command": "goto_definition"
        }
    },
    "OS_KEY+enter": {
        "mode": "common",
        "subl": {
            "command": "quick_goto_variable"
        }
    }
}
