bootstrap/common-env.sh
bootstrap/dependencies-android-termux.sh
bootstrap/dependencies-arch-linux-steam-deck.sh
bootstrap/dependencies-chrome-os-linux.sh
bootstrap/dependencies-mac.sh
bootstrap/dependencies-ubuntu.sh
bootstrap/dependencies-windows.sh
bootstrap/profile-advanced.sh
bootstrap/profile-core.sh
bootstrap/setup.sh
software/metadata/autocomplete-spec-docker.js
software/metadata/hosts-blocked-ads.config.js
software/metadata/ip-address.config.js
software/metadata/script-list.js
software/scripts/__bootstrap.js
software/scripts/fnm-binary.js
software/scripts/android-termux/_only.js
software/scripts/android-termux/_termux-package.sh
software/scripts/android-termux/diff-so-fancy-termux-specifics.sh
software/scripts/android-termux/termux-properties.sh
software/scripts/arch_linux/_only.js
software/scripts/bash-autocomplete-complete-spec.js
software/scripts/bash-autocomplete-git.js
software/scripts/bash-autocomplete-make.js
software/scripts/bash-autocomplete-npm.js
software/scripts/bash-autocomplete-ssh.js
software/scripts/bash-autocomplete-yarn.js
software/scripts/bash-inputrc.js
software/scripts/bash-syle-content.js
software/scripts/chromeos/_only.sh
software/scripts/chromeos/fonts-chromeos.su.js
software/scripts/claude.su.sh
software/scripts/diff-so-fancy.sh
software/scripts/editor-launchers.js
software/scripts/etc-hosts.su.js
software/scripts/fonts.js
software/scripts/format.js
software/scripts/fzf.js
software/scripts/git.js
software/scripts/jq.js
software/scripts/jq.sh
software/scripts/kde-konsole-profile.js
software/scripts/libreoffice.js
software/scripts/mac/_only.js
software/scripts/mac/iterm.js
software/scripts/mac/tweaks.sh
software/scripts/prettyping.js
software/scripts/prettyping.sh
software/scripts/remote-connections.js
software/scripts/sqlui-native.js
software/scripts/ssh.js
software/scripts/ssh.sh
software/scripts/sshd-openssh-server.su.js
software/scripts/sublime-merge.js
software/scripts/sublime-text-config.js
software/scripts/sublime-text-ext.js
software/scripts/sublime-text-keys.js
software/scripts/sublime-text-mouse.js
software/scripts/sublime-text-plugins.js
software/scripts/sublime-text-setup.js
software/scripts/sublime-text.common.js
software/scripts/synle-make-component.js
software/scripts/terminator.js
software/scripts/tightvnc-viewer.js
software/scripts/tmux.js
software/scripts/url-porter.js
software/scripts/vim-configurations.js
software/scripts/vim-vundle.sh
software/scripts/vs-code-config.js
software/scripts/vs-code-ext.js
software/scripts/vs-code-ext.sh
software/scripts/vs-code-keys.js
software/scripts/vs-code-setup.js
software/scripts/vs-code.common.js
software/scripts/vscodium.su.sh
software/scripts/windows/_only.js
software/scripts/windows/_only.sh
software/scripts/windows/adb-windows.js
software/scripts/windows/classic-start.js
software/scripts/windows/file-association.js
software/scripts/windows/greenshot.js
software/scripts/windows/greenshot.sh
software/scripts/windows/__bootstrap.js
software/scripts/windows/ngrok-windows.js
software/scripts/windows/powershell-permission.sh
software/scripts/windows/powershell.js
software/scripts/windows/powertoys-keys.js
software/scripts/windows/rufus.js
software/scripts/windows/sumatra-theme.js
software/scripts/windows/symlink.bat.sh
software/scripts/windows/symlink.fd.sh
software/scripts/windows/terminal.js
software/scripts/windows/wsl-tweaks.js
software/scripts/yarn.sh