[global_config]
[keybindings]
  zoom_in = <Alt>equal
  zoom_out = <Alt>minus
  zoom_normal = <Alt>0
  new_tab = <Alt>t
  cycle_next = ""
  cycle_prev = ""
  go_next = ""
  go_prev = ""
  go_up = Page_Up
  go_down = Page_Down
  rotate_cw = ""
  rotate_ccw = ""
  split_horiz = <Shift><Alt>d
  split_vert = <Alt>d
  close_term = <Alt>w
  copy = <Alt>c
  paste = <Alt>v
  toggle_scrollbar = <Alt>backslash
  search = <Alt>f
  close_window = <Alt>q
  resize_up = ""
  resize_down = ""
  resize_left = ""
  resize_right = ""
  move_tab_right = ""
  move_tab_left = ""
  toggle_zoom = ""
  scaled_zoom = ""
  next_tab = <Alt>braceright
  prev_tab = <Alt>braceleft
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
  reset = ""
  reset_clear = ""
  hide_window = ""
  group_all = ""
  ungroup_all = ""
  group_tab = ""
  ungroup_tab = ""
  new_window = <Alt>n
  new_terminator = ""
  insert_number = ""
  insert_padded = ""
  edit_window_title = ""
  edit_tab_title = ""
  edit_terminal_title = ""
  layout_launcher = ""
  help = ""
[profiles]
  [[default]]
    icon_bell = False
    background_color = "#282828"
    cursor_color = "#aaaaaa"
    foreground_color = "#ebdbb2"
    show_titlebar = False
    use_system_font = False
    font = DejaVu Sans Mono Bold 11
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
